


@media only screen  and (max-width:768px){
    

.navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo img{
   
}
.btn-primary{
    display: none;
}

.content.flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

}

